# همه فایل‌های متنی به‌طور خودکار به LF تبدیل شوند.
* text=auto

# اسکریپت‌های ویندوز (Batch) باید با CRLF ذخیره شوند.
*.bat eol=crlf

# اسکریپت‌های شل (Shell) برای لینوکس و مک باید LF بمانند.
*.sh eol=lf

# فایل‌های باینری نباید تغییر کنند.
*.png binary
*.jpg binary
*.jar binary
*.zip binary
